/* This CSS is strictly for styling on all of the pages */
* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: auto;
  /* overflow: hidden; */
  background-color: #52ad9c;
}

.home-top-image {
  height: 500px;
  width: 100%;
  /* object-fit: cover; */
  background-size: cover;
}

.text-wrapper {
  width: 100%;
  position: relative;
  margin-top: -35%;
}

.home-title {
  text-align: center;
  font-size: 10vw;
  color: #6cc551;
}

.text-content {
  margin-top: 25%;
}

/* Login button */
.loginBtn,
.logoutBtn {
  margin-left: 5px;
  padding: 5px 3px;
  width: 80px;
  cursor: pointer;
  text-align: center;
}

.profile-image {
  border-radius: 50%;
  border: 3px solid black;
}

.plant-card-row {
  justify-content: center;
}

.waterBtn {
  height: 4rem;
  width: 4rem;
}

.deleteBtn {
  height: 4rem;
  width: 4rem;
}

.plant-buttons {
  display: flex;
  justify-content: space-around;
}
